variables:
  DOCKER_SERVICE_NAME: "static-site"
  
include:
  - project: 'infinity-economics/iep-docker'
    file: '/gitlab/ci/docker-ci-clean.yml'  
  - project: 'infinity-economics/iep-docker'
    file: '/gitlab/ci/docker-ci-staging.yml'